<div class="well sidebar-nav">
  <h3>소개</h3>
  <ul class="nav nav-list" style='margin-bottom:2em;'>
    <li><%= link_to '안심병원 소개', '/pages/about' %></li>
    <li><%= link_to '문의하기', '/pages/comments' %></li>
</div>
