<div class='page-header'>
	<h1>안심병원 소개</h1>
</div>

<iframe width="560" height="315" src="http://www.youtube.com/embed/zfo8DtAtXYE" frameborder="0" allowfullscreen></iframe>

<p>요즘 많은 분들이 의원, 병원의 항생제 처방율에 관심을 가지고 있습니다.
특히 아이를 키우는 부모라면 더욱 그리하죠.
이번에 제작한 "안심병원"은 건강보험 심사평가원의 병원 정보에서 항생제 처방 빈도, 주사제 처방 빈도 등을 크롤링하여 구글맵(또는 우샤히디 플랫폼)에 표시하는 보여주는 서비스입니다.</p>

<p>지난 8월 공공데이터캠프에서 아이디어를 얻어 구현하였고,
그 이후에 4명의 관심자(권오현, 이정표, 김성준, 최명진)들이 종종 만나면서 
시민이 안심할 수 있도록 하는 데이터를 좀 더 찾아 제공하자고 한 결과,
11월까지 안심먹거리와 안심거리(범죄정보) 데이터를 추가하는 중에 있습니다.</p>

<p>또한 개발자가 아닌 사람도 쉽게 데이터를 추가하여 지도윕에 표시할 수 있도록 하고,
개발자들도 안심병원 소스를 이용하여 응용할 수 있도록 범용적인 기능을 제공하는 
오픈 플랫폼화하는 작업도 진행 중이며, 다음과 같은 기능을 포함하여 공개할 예정입니다.</p>

<h2>주요 기능</h2>

<ol>
	<li>1.데이터 크롤링 </li>
	<li>2.구글맵과 연동 </li>
	<li>3.피드백 기능, 수정 기능 </li>
	<li>4.모바일 연동(안드로이드, 아이폰)</li>
</ol>