<section id='map_section'>
  <div id='map_canvas' class='map' style='height:600px;margin-bottom:2em;'>
  </div>
  <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript">

  	var map;
  	var markers = [];

    function exists_in_markers(id) {
      for(i in markers) {
        if (markers[i].id == id) return true 
      }
      return false;
    }

  	function place_markers(data) {
  		for(var i=0; i < data.length; i++) {

        var id = data[i]._id;

        if (window.exists_in_markers(id)) {
          // skip
        } else {
          marker = new google.maps.Marker({
            map:map,
            position: new google.maps.LatLng(data[i].coordinates[0], data[i].coordinates[1])
          });
          markers.push({ id: id, marker: marker });          
        }
  		}
  	}

  	function fetch_data() {
			var url = '<%= hospitals_path(format: :json) %>';
			var map = this;
  		var bounds = map.getBounds();
			$jqXHR = $.getJSON(url, {
										north_east: bounds.getNorthEast().lat() + ',' + bounds.getNorthEast().lng(),
										south_west: bounds.getSouthWest().lat() + ',' + bounds.getSouthWest().lng()
								}).success(function(data) { 
									place_markers(data);
								});
  	}

    function initializeMap() {
      var myOptions = {
      	zoom: 15,
      	center: new google.maps.LatLng(37.49227,126.89779),
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };

			map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

  		google.maps.event.addListener(map, 'mouseup', fetch_data);
  		google.maps.event.addListener(map, 'zoom_changed', fetch_data);
  		google.maps.event.addListener(map, 'idle', fetch_data);
    }

    $(document).ready(function(){
      initializeMap();
    });
  </script>
</section>